.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
 .proyecto {
     background: url(../imgs/caribe.jpg);      
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed; /***************************** NO FUNCIONÓ --- CHECAR BIEN BIEN*/
}
.navbar-inverse {            
    border-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#opciones{
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 10px;
}