.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
 .proyecto {
     background: url(../imgs/caribe.jpg);      
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed; /***************************** NO FUNCIONÓ --- CHECAR BIEN BIEN*/
}
.navbar-inverse {    
    background: rgba(0,0,0,0.6);         

    /*border-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
}
#opciones{
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 10px;
}
.nav {
    padding-left: 10px;
}

#main_localizadores {
    margin-bottom: 20px;
    background: rgba(255,255,255,0.4); 
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
}
#page-wrapper {
    background: none;
}