<!DOCTYPE html>
<html ng-app="FinalApp">
<head>
	<title>Posts App</title>
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.css">
	<link rel="stylesheet" type="text/css" href="css/lumx.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>	
	<script src="https://code.angularjs.org/1.6.4/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
	<script src="js/lumx.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body>
<!-- USAMOS LUMX : MATERIAL DESIGN Y REGLAS DE GOOGLE -->
<!-- FLEXBOX EN LUGAR DE FLOATS  -->
<!--  -->
	<nav class="bgc-blue-900 tc-white" flex-container="row" flex-align="center center"> <!-- Background - 900 es la sombra | letra blanca   | equivale a un row de boostrap | centras por todos lados-->
		<div flex-item="4">  <!-- 40% de un grid de 12 columnas -->
			<h1 class="fd-display-3 display-block">Posts App</h1>
		</div>
		<div flex-item="1">
			<a href="#!/">Inicio</a>
		</div>
		<div flex-item="1">
			<a href="#!/posts/new">Crear Post</a>
		</div>
	</nav>
	<div flex-container="row" flex-align="center">
		<div ng-view flex-item="9">
			
		</div>
	</div>
	
	<!--  -->
	<!--  -->
	<!--  -->
</body>
</html>